<GridLayout rows="auto,auto,*" columns="*,*,*,*" verticalAlignment="bottom" backgroundColor="#a6eee6ff" height="120" padding="20 10" borderRadius="25 25 0 0" class="card-bottomsheet">
	<!-- <Button col="0" [text]="'Hi ' + options[0] | uppercase" class="button-plain" (tap)="viewCard(options[0])"></Button>
  <Button col="1" [text]="'Hi ' + options[1] | uppercase" class="button-plain" (tap)="viewCard(options[1])"></Button>
  <Button col="2" [text]="'Hi ' + options[2] | uppercase" class="button-plain" (tap)="viewCard(options[2])"></Button>
  <Button col="3" [text]="'Hi ' + options[3] | uppercase" class="button-plain" (tap)="viewCard(options[3])"></Button>
  <Button row="1" colSpan="4" [text]="'Bye bye to all!'" marginTop="10" class="button-plain" (tap)="closeBottomsheet()"></Button> -->

	<Button col="0" text="Rick" class="button-plain" (tap)="viewCard(options[0])"></Button>
	<Button col="1" text="Morty" class="button-plain" (tap)="viewCard(options[1])"></Button>
	<Button col="2" text="Squancy" class="button-plain" (tap)="viewCard(options[2])"></Button>
	<Button col="3" text="Summer" class="button-plain" (tap)="viewCard(options[3])"></Button>
	<Button row="1" colSpan="4" text="Bye bye to all!" marginTop="10" class="button-plain" (tap)="closeBottomsheet()"></Button>
</GridLayout>

<!-- <GridLayout rows="auto,auto,*" columns="*,*,*,*" height="120" verticalAlignment="bottom"> -->
<!-- <Label text="HELLO" textWrap="true" (tap)="closeBottomsheet()"></Label> -->
<!-- <Button col="0" [text]="options[0]" class="button-plain" (tap)="viewCard(options[0])"></Button> -->

<!-- </GridLayout>  -->
