<GridLayout verticalAlignment="center" horizontalAlignment="center" rows="auto, auto, auto, auto" columns="300" borderWidth="2" backgroundColor="white" borderColor="#c0defa" class="bg-accent-tertiary" padding="20 10" borderRadius="20 19 20 20">
    <Label row="0" col="0" class="text-accent-primary" fontSize="20" fontWeight="bold" textAlignment="center" text="I'm a modal"></Label>
    <Label row="1" col="0" marginTop="10" fontSize="17" textAlignment="center" text="Pretty cool right?"></Label>
    <StackLayout row="2" col="0" margin="20 20 5 20" (tap)="showSnackbar()" class="button" backgroundColor="#c0defa">
        <Label text="Want to see another snackbar?"></Label>
    </StackLayout>
    <StackLayout row="3" col="0" margin="5 20" (tap)="close()" class="button" backgroundColor="#c0defa">
        <Label text="Close"></Label>
    </StackLayout>
</GridLayout>